#popup,#popup2,
.bMulti{background-color:#fff;border-radius:10px 10px 10px 10px;box-shadow:0 0 25px 5px #999;color:#111;display:none;min-width:450px;padding:25px}
#popup .logo{color:#2b91af;font:bold 325% 'Petrona',sans}#popup,.bMulti{min-height:250px}
#popup2 iframe{background:url('loader.gif') center center no-repeat;min-height:240px;min-width:450px}
.loading{background:url('loader.gif') center center no-repeat}
.bMulti p{font:500% 'Petrona',sans-serif;padding:45px 0 0;text-align:center}
.bMulti a{left:175px;position:absolute;top:175px}
.lt-ie9 .bModal{background-color:#000}.github{background:url('images/github.png') 0 0 no-repeat;height:149px;width:149px;opacity:.6;position:fixed;right:0;top:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.35s;-moz-transition-duration:.35s;transition-duration:.35s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;transition-timing-function:ease-out}
.github:hover{opacity:1}