

<div id="product-overview">
<span class="breadcrumb">Bread Crum</span>
<div id="container_sdp" class="clearfix">
<div class="left_sdp">
<div id="ib_img_viewer" style="" >
 {#IMAGES#}
</div>
</div>
<div id="title"> <h2 class="product-title-big " itemprop="name">{#PRODUCTNAME#}</h2>

<div id="productRating">
{#RATING#}
</div>
<div class="clearfix">
</div>

<div class = "sdp-left-right-wrapper clearfix">
<div class="center_sdp_left">
<div id="product-summary" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div id="pricing_summary" class="clearfix">
<div id="sdp-price-details">
<div class="pricing">
<div class="final-price">
<span id="price-after-discount">
<span>Rs.</span><span>{#OFFERPRICE#}</span>
</span>
<div >
<span>{#PRICEORPERCENT#}</span> </div>
<div>
<span>Rs.</span><span>{#PRICE#}</span>
</div>
</div>
<div >
[ <span>Rs.</span><span class="price">{#SAVEPRICE#}</span> 
    ]
</div>
<span id="promo-names" style="line-height:8px;">
</span>
</br>
</div>
</div>
</div>
<div>
<div id="product_overview">
<!--<div class="status " itemprop="availability" content="in_stock.">
    In Stock
</div> -->
</div>
</div>
<div id="offer_description">
</div>
</div>
<div id="options-key-features-wrapper">
<div class="options-badges-wrapper">
<!--<div class="badges">
    color options here</div>
</div> -->
</div>
<div class="key-features-div">
<div class="key-features">
    {#SHORTDESC#}</div>
</div>
</div>
<div >
<div>
<div id="price_table">
<div>
<div id="ib_actions">

<input type="hidden" name="hdnPid" id="hdnPid" value="{#PID#}" />

<a id='btnBuy' href="javascript:fnAddToCart();" >Buy Now</a>

</div>
</div>
</div>
</div>
<!--<div id="Delivery">
<div class="delivery">
    <span class="shipping_duration">
Ships in <b>6 - 7 Days</b>.
</span>
<span class="delivery-content">
<b>FREE</b> Shipping in India <br/>
</span>
</div>
</div> -->
</div>
</div>
</div>
</div>
<div id="yui-main">
<div>
<div id="ib_products">
<h3>{#PRODUCTNAME#} Description</h3>
<div> 
<p>{#LONGDESC#}</p>
                            </div>
<div style="float:left;width: 100%;height: 65px;"></div>
<h2 id="Features-Specification" >Features and Specifications</h2>
<div id='feature'>Features here</div>
 <!--<div id="reviews-detail">

<h2><b>{#PRODUCTNAME#}&nbsp;Review</b></h2>
<div id="avg-rating">
    <b> Average Rating </b><br/>
<span class="rating-star"> <img src="/images/starred.gif" alt="Rating of 4 out of 5" width="13" height="12" border="0" align="absmiddle" />
<img src="/images/starred.gif" alt="Rating of 4 out of 5" width="13" height="12" border="0" align="absmiddle" />
<img src="/images/starred.gif" alt="Rating of 4 out of 5" width="13" height="12" border="0" align="absmiddle" />
<img src="/images/starred.gif" alt="Rating of 4 out of 5" width="13" height="12" border="0" align="absmiddle" />
<img src="/images/stargray.gif" alt="Rating of 4 out of 5" width="13" height="12" border="0" align="absmiddle" />
&nbsp;(3&nbsp;Ratings)</span><br/><br/>
</div>
<div class="review">
Posted review here</div>
</div> -->

</div> 
</div>
</div>
</div>
</div>
