 
<div id="list_view">
 
  <a data-tracking-id="prd_img" class="pu-image fk-product-thumb " href="#"><div class="item"> {#IMAGE#}
   </div></a> 
   <div>
    <div>
        <a class="fk-display-block" >{#PRODUCTNAME#}
 </a> </div> 
 <div> </div>
  <div></div>
  <div> 
    <div >
        <span >{#PRICE#}</span> {#PRICEORPERCENT#}
     </div>
      <div > 
        <div > 
          <span >{#OFFERPRICE#}</span>
         </div> 
         <div > </div>
           <ul > 
           </ul> 
           </div> </div> 
           
             </div> 
             
                 <div class="clear"></div>

             </div>