<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, 
    Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />


  <authentication mode="Forms"/>
  <pages enableViewStateMac="false" enableViewState="false"></pages>

        <sessionState
     mode="InProc"
     stateConnectionString="tcpip=127.0.0.1:42424"
     sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
     cookieless="false"
     timeout="20" />

  <customErrors mode="Off" defaultRedirect="ErrorPage.htm">
            <error statusCode="403" redirect="ErrorPage.htm"/>
            <error statusCode="404" redirect="ErrorPage.htm"/>
        </customErrors>

    </system.web>
  
<system.webServer>
    <handlers>
      <add name="EasyWayHandler" verb="*" path="*.EW2B" type="EasyWay.BusinessLayer.EasyWayHandler, EasyWay.BusinessLayer"/>

    </handlers>
  </system.webServer>

  <connectionStrings>
  <add name="EasywayConnectionString" connectionString="Data Source=RAMKUMAR-PC\SQLEXPRESS;Initial Catalog=Easyway;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
